extends ../layout

block content
    .container(style='width: 100%;')
        .tile-area.tile-area-scheme-lightOlive.fg-white
            h1.tile-area-title Klub Młodego Wynalazcy
            .tile-area-controls
                button.square-button.bg-transparent.fg-white.bg-hover-dark.no-border(onclick="showCharms('#charmSearch')")
                    span.mif-search
                a.square-button.bg-transparent.fg-white.bg-hover-dark.no-border(href='../options')
                    span.mif-cog
                a.square-button.bg-transparent.fg-white.bg-hover-dark.no-border(href='/')
                    span.mif-lg.mif-home


        .tile-group
            span.tile-group-title Karty Pracy
            .tile-container
                .tile-large.bg-steel.fg-white(data-role='tile' data-effect='slideUpDown' onclick="location.href = '../add';")
                    #Add_worksheet.tile-content(style='background: top left no-repeat; background-size: cover')
                        .live-slide
                            .padding50
                                h1 Dodaj kartę pracy
                    .tile-label Dodaj kartę pracy
                .tile-large.bg-steel.fg-white(data-role='tile' data-effect='slideUpDown')
                    #Show_worksheet.tile-content(style='background: top left no-repeat; background-size: cover')
                        .live-slide
                            .padding50
                                h1 Przeglądaj karty pracy
                    .tile-label Przeglądaj karty pracy


        .tile-group
            span.tile-group-title Obciązenie labolatoriów
            .tile-container
                .tile-large.bg-steel.fg-white(data-role='tile' data-effect='slideUpDown')
                    #Calendar.tile-content(style='background: top left no-repeat; background-size: cover')
                        .live-slide
                            .padding50
                                h1 Sprawdź wolne terminy
                    .tile-label Kalendarz
                .tile-large.bg-steel.fg-white(data-role='tile' data-effect='slideUpDown')
                    #Scheduler.tile-content(style='background: top left no-repeat; background-size: cover')
                        .live-slide
                            .padding50
                                h1 Zarezerwuj salę
                    .tile-label Terminarz
