extends layout

block content
  .container(style='width: 100%;')
    .tile-area.tile-area-scheme-lightOlive.fg-white
      h1.tile-area-title Klub Młodego Wynalazcy

    .tile-group
        span.tile-group-title BioChem Duże
        .tile-container
          .tile-large.bg-steel.fg-white(data-role='tile')
            #weather_bg.tile-content(style='background: top left no-repeat; background-size: cover')
            .padding100 BioChem Duże

    .tile-group
        span.tile-group-title BioChem Duże
        .tile-container
          .tile-large.bg-steel.fg-white(data-role='tile')
            #weather_bg.tile-content(style='background: top left no-repeat; background-size: cover')
            .padding100 BioChem Duże

    .tile-group
        span.tile-group-title BioChem Duże
        .tile-container
          .tile-large.bg-steel.fg-white(data-role='tile')
            #weather_bg.tile-content(style='background: top left no-repeat; background-size: cover')
            .padding100 BioChem Duże

    .tile-group
        span.tile-group-title BioChem Duże
        .tile-container
          .tile-large.bg-steel.fg-white(data-role='tile')
            #weather_bg.tile-content(style='background: top left no-repeat; background-size: cover')
            .padding100 BioChem Duże

    .tile-group
        span.tile-group-title BioChem Duże
        .tile-container
          .tile-large.bg-steel.fg-white(data-role='tile')
            #weather_bg.tile-content(style='background: top left no-repeat; background-size: cover')
            .padding100 BioChem Duże
    .tile-group
        span.tile-group-title BioChem Duże
        .tile-container
          .tile-large.bg-steel.fg-white(data-role='tile')
            #weather_bg.tile-content(style='background: top left no-repeat; background-size: cover')
            .padding100 BioChem Duże

    .tile-group
        span.tile-group-title BioChem Duże
        .tile-container
          .tile-large.bg-steel.fg-white(data-role='tile')
            #weather_bg.tile-content(style='background: top left no-repeat; background-size: cover')
            .padding100 BioChem Duże

    .tile-group
        span.tile-group-title BioChem Duże
        .tile-container
          .tile-large.bg-steel.fg-white(data-role='tile')
            #weather_bg.tile-content(style='background: top left no-repeat; background-size: cover')
            .padding100 BioChem Duże

  //.container.page-content
    .flex-grid
      .row.flex-align-center
        .cell.debug
          .tile.tile-large(data-role='tile') 1
        .cell.debug
          .tile.tile-large(data-role='tile') 2
        .cell.debug
          .tile.tile-large(data-role='tile') 3
        .cell.debug
          .tile.tile-large(data-role='tile') 4