doctype html
html
  head
    title= title
    //link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='Metro-UI-CSS-master/build/css/metro.css')
    link(rel='stylesheet', href='Metro-UI-CSS-master/build/css/metro-icons.css')
    link(rel='stylesheet', href='Metro-UI-CSS-master/build/css/metro-responsive.css')
    script(src='jquery/dist/jquery.js')
    script(src='Metro-UI-CSS-master/build/js/metro.js')
  body.bg-lightOlive
    style.
      .tile-area-controls {
        position: fixed;
        right: 40px;
        top: 40px;
      }
    block content
