extends ../../layout

block content
    .container(style='width: 100%;')
        .tile-area.tile-area-scheme-lightOlive.fg-white
            h1.tile-area-title Klub Młodego Wynalazcy
            .tile-area-controls
                button.square-button.bg-transparent.fg-white.bg-hover-dark.no-border(onclick="showCharms('#charmSearch')")
                    span.mif-search
                a.square-button.bg-transparent.fg-white.bg-hover-dark.no-border(href='../options')
                    span.mif-cog
                a.square-button.bg-transparent.fg-white.bg-hover-dark.no-border(href='/')
                    span.mif-lg.mif-home

    .container.page-content
        .flex-grid
            .row.cell-auto-size
                .cell
                    h1.no-margin-top Dodawanie karty pracy
                    hr(style='height:3px').bg-white
        .worksheet.bg-lime(data-text='stylized lists')
            .wizard(data-role='wizard')
                .steps
                    .step
                        .grid
                            .row
                                .cell
                                    ul.step-list
                                        li
                                            h2.no-margin-top Temat doświadczenia
                                            hr.bg-red
                                            div
                                                | Proszę o podanie tematu doświadczenia:
                                            .input-control.text.full-size
                                                input(id='WS_title', type='text', placeholder='Pole tekstowe')
                                        li
                                            h2.no-margin-top Metoda badania
                                            hr.bg-green
                                            div
                                                | Proszę o podanie podtytułu lub metoty badania:
                                            .input-control.text.full-size
                                                input(id='WS_subtitle', type='text', placeholder='Pole tekstowe')
                    .step
                        .grid
                            .row
                                .cell
                                    ul.step-list
                                        li
                                            h2.no-margin-top Odczynnki
                                            hr.bg-red
                                            div
                                                | Proszę o podanie niezbędnych odczynników (po przecinku):
                                            .input-control.text.full-size
                                                input(id='WS_reagent', type='text', placeholder='Tutaj pisać')
                                        li
                                            h2.no-margin-top Sprzęt labolatoryjny
                                            hr.bg-green
                                            div
                                                | Proszę o podanie niezbędnego sprzętu labolatoryjnego (po przecinku):
                                            .input-control.text.full-size
                                                input(id='WS_equipment', type='text', placeholder='Tutaj pisać')
                                        li
                                            h2.no-margin-top Akcesoria
                                            hr.bg-green
                                            div
                                                | Proszę o podanie niezbędnych akcesoriów (po przecinku):
                                            .input-control.text.full-size
                                                input(id='WS_accesories', type='text', placeholder='Tutaj pisać')
                    .step
                        .grid
                            .row
                                .cell
                                    ul.step-list
                                        li
                                            h2.no-margin-top Instrukcja ćwiczenia
                                            hr.bg-red
                                            div
                                                | Proszę o opisanie przebiegu doświadczenia:
                                            .grid
                                                .row
                                                    .cell
                                                        .input-control.textarea.full-size(data-role='input', data-text-auto-resize="true")
                                                            textarea(id='WS_description')

//.worksheet.bg-lime(data-text='stylized lists')
    .grid
        .row
            .cell
                ul.step-list
                    li
                        h2.no-margin-top Temat doświadczenia
                        hr.bg-red
                        div
                            | Proszę o podanie tematu doświadczenia:
                        .input-control.text.full-size
                            input(id='WS_title', type='text', placeholder='Tutaj pisać')
                    li
                        h2.no-margin-top Metoda badania
                        hr.bg-green
                        div
                            | Proszę o podanie podtytułu lub metoty badania:
                        .input-control.text.full-size
                            input(id='WS_subtitle', type='text', placeholder='Tutaj pisać')

                    li
                        h2.no-margin-top Niezbędne rekwizyty
                        hr.bg-blue
                        div
                            | Use the same user accounts and groups in the cloud that you already use on premises.
                            br
                            a(href='') Set up directory integration
                            a(href='') Download the preview of Azure AD Content
                            br
                            br
                            button.button.success Add domain
                    li
                        h2.no-margin-top Get Azure AD Premium
                        hr.bg-blue
                        div
                            | Improve access management experiences for end users and administrators, including self service password reset, group management, sign in customization, and reporting.
                            br
                            br
                            button.button.primary Add domain
                    li
                        h2.no-margin-top Get Azure AD Premium
                        hr.bg-blue
                        div
                            | Improve access management experiences for end users and administrators, including self service password reset, group management, sign in customization, and reporting.
                            br
                            br
                            button.button.primary Add domain