extends ../layout

block content

    button(onclick="showDialog('#dialog')") Show dialog
    span.mif-earth.mif-2x
    #dialog(data-role='dialog')
        h1 Simple dialog
        p
            | Dialog :: Metro UI CSS - The front-end framework
            | for developing projects on the web in Windows Metro Style.
    script.
        function showDialog(id) {
            var dialog = $(id).data('dialog');
            dialog.open();
        }


