extends ../layout

block content
    .container(style='width: 100%;')
        .tile-area.tile-area-scheme-lightOlive.fg-white
            h1.tile-area-title Klub Młodego Wynalazcy
            .tile-area-controls
                button.square-button.bg-transparent.fg-white.bg-hover-dark.no-border(onclick="showCharms('#charmSearch')")
                    span.mif-search
                a.square-button.bg-transparent.fg-white.bg-hover-dark.no-border(href='../options')
                    span.mif-cog
                a.square-button.bg-transparent.fg-white.bg-hover-dark.no-border(href='/')
                    span.mif-lg.mif-home

    .container.page-content
        .flex-grid
            .row.cell-auto-size
                .cell
                    h1.no-margin-top Witamy w Labolatorium Genetyki
                    h3.no-margin-top Poniżej znajduje się lista aktywnych kart pracy
                    hr(style='height:3px').bg-white
        table#Lita_PracGen.display(cellspacing='0', width='100%')

    script.
        var WS_dataJSON = !{JSON.stringify(WS_data)}

        $(document).ready(function () {

            $('#Lita_PracGen').DataTable({
                "select": true,
                "data": WS_dataJSON,
                "columns": [
                    {"title": "Temat doświadczenia", "data": "temat_doswiadczenia"},
                    {"title": "Czas trwania [min]", "data": "czas_trwania"},
                    {"title": "Dodał", "data": "uzytkownik"},
                ]
            });
        });