extends ../layout

block scripts
    script(src='javascripts/labolatory/PracGen_script.js')

block content
    .container.margtop.page-content
        .flex-grid
            .row.cell-auto-size
                .cell
                    h1.no-margin-top Witamy w labolatorium
                    h3.no-margin-top Poniżej znajduje się lista aktywnych kart pracy
                    hr(style='height:3px').bg-white
        table#Lita_PracGen.display(cellspacing='0', width='100%')

    script.
        var WS_dataJSON = !{JSON.stringify(WS_data)}

        $(document).ready(function () {

            $('#Lita_PracGen').DataTable({
                "select": true,
                "data": WS_dataJSON,
                "dom": 'Bfrtip',
                "buttons": [
                    {
                        text: 'Otwórz kartę pracy',
                        action: function (e, dt, node, config) {

                            AWS_data = dt.row( { selected: true } ).data()

                            $.ajax({
                                type: 'POST',
                                data: JSON.stringify(AWS_data),
                                contentType: 'application/json',
                                url: '/WS_load',
                                success: function (data) {
                                    alert("Załadowano kartę")
                                    window.location.replace('/Karta_pracy');
                                }

                            })
                        },
                    }
                    ],
                "columns": [
                    {"title": "Temat doświadczenia", "data": "temat_doswiadczenia"},
                    {"title": "Czas trwania [min]", "data": "czas_trwania"},
                    {"title": "Dodał", "data": "uzytkownik"},
                ]
            });
        });